body {
  background-color: #000066;
  color: white;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: 'Comfortaa', cursive;
}

a {
  color: #EBD600;
  text-decoration: underline;
}
/*
suggestion partial
*/

#suggestion-wrapper {
  border: .25rem solid white;
  width: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#food-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

#music-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

#favorite {
  text-align: center;
  width: 100%;
  float: left;
}

img.suggestion {
  padding-top: 1rem;
  padding-bottom: .5rem;
}
