/*
General Formatting
*/
body {
  background-color: #000066;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

a {
  color: #EBD600;
  text-decoration: underline;
}

/*
Header Formatting
*/
#greeting {
  text-align: right;
}

#navlinks {
  text-align: center;
  background-color: #000084;
}

#navlink {
  padding: 6rem;
  font-size: 1.25rem;
}

/*
Yield Formatting
*/
article {
  text-align: center;
}

/*
suggestion partial
*/
#suggestion-wrapper {
  border: .25rem solid white;
  background-color: #000045;
  width: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#food-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

#music-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

#favorite {
  text-align: center;
  width: 100%;
  float: left;
}

img.suggestion {
  padding-top: 1rem;
  padding-bottom: .5rem;
}

/*
error message
*/
#message {
  text-align: center;
  background-color: #BD6C00;
  font-size: 1.5rem;
  margin-top: .75rem;
}
