<h2>Your Favorites</h2>

<% @favorites.each do |suggestion| %>
  <%= render "suggestion", :music_suggestion => SpotifyItem.find(suggestion.music_type,suggestion.music_id), :food_suggestion => FoodItem.find(suggestion.food_id), :suggestion_id => suggestion.id %>
<% end %>
